$primary-color: #555555 !default;
$secondary-color: #e7e7e7 !default;
$link-color: #008cba;
$link-hover-color: #C31618;
$text-color: $primary-color;
$light-text-color: #999999;
$code-bg-color: #f8f8f8;

$body-bg: #fff !default;
$body-font-color: $primary-color !default;
$body-font-family: "Open Sans", sans-serif !default;

$base-font-size: 18px;
$rem-base: $base-font-size;

$alert-font-size: 0.9rem;
