@import "variables";
@import "foundation/scss/foundation";

a {
  color: $link-color;
  border-bottom: 1px dotted $link-color;
}

article {
  img {
    display: block;
    margin: 0 auto;
    border: 1px solid $primary-color;
  }
}

@import "syntax";

code {
  border: 1px solid $primary-color;
  background-color: $code-bg-color;
  width: 100%;
  padding: 0 0.2rem;
  font-weight: 100;
  margin: 0 0.1rem;
}

code.highlight {
  margin-bottom: 1rem;
  display: block;
  padding: 0.5rem;
  line-height: $base-line-height;
  overflow-x: auto;
  border-left: 10px solid $primary-color;
}

.article-list {
  margin: 0;
}

.article-list-item {
  list-style-type: none;
  border-bottom: 1px solid #dedede;
  padding: 0.3rem;
  line-height: 1.8rem;

  a {
    color: $text-color;
    border-bottom: none;
  }

  &:hover {
    a {
      color: $secondary-color;
      background-color: none;
    }
    background-color: $primary-color;
    transition: all 0.15s ease;
  }
}

.article-link {
  border-bottom: none;
  padding: 0;
}

.article-date {
  color: $light-text-color;
  padding-left: 0;
  font-size: 0.8rem;
}

@media #{$large-up} {
  .article-date {
    font-size: 0.8rem;
  }
}

.large-nav-links {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  a {
    font-size: 1.5rem;
    padding: 0 15px;
    border-bottom: none;
    color: $primary-color;
    &:hover {
      color: lighten($primary-color, 15%);
      transition: all 0.3s ease;
    }
  }
}

.post-header {
  margin-bottom: 1rem;
  border-bottom: 1px solid $secondary-color;
  padding-bottom: 0.5rem;

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
  }

  time {
    font-size: 18px;
  }
}

.tab-bar {
  margin-bottom: 1rem;
}

.image-header {
  border: 1px solid $primary-color;
  margin-bottom: 2rem;
  width: 100%;
}
