@import "variables";
@import "foundation/scss/foundation";

body {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
}

.article-list {
  margin: 0;
}

.article-list-item {
  list-style-type: none;
  border-bottom: 1px solid #dedede;
  padding: 0.5rem;

  a {
    color: $text-color;
  }

  &:hover {
    a {
      color: $selected-link-fg-color;
      background-color: none;
    }
    background-color: $selected-link-bg-color;
    transition: all 0.15s ease;
  }
}

.article-link {
  border-bottom: none;
  padding: 0;
}

.article-date {
  color: $light-text-color;
  padding-left: 0;
  font-size: 0.8rem;
  line-height: 1.6rem;
}

.large-nav-links {
  margin-bottom: 2rem;
  a {
    padding: 0 15px;
    &:hover {
      color: $secondary-color;
      transition: all 0.3s ease;
    }
  }
}
