<ul class="article-list row">
  <% blog.articles.each do |article| %>
    <li class="article-list-item small-12 columns">
      <a href="<%= article.url %>" class="article-link">
        <div class="small-2 columns"><time datatetime="<%= article.date %>" class="article-date"><%= article.date.strftime("%Y %b %d") %></time></div>
        <span class='article-title small-10 columns'><%= article.title %></span>
      </a>
    </li>
    <hr/>
  <% end %>
</ul>
