<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Antonio's ramblings</title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:600' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <header>
          <nav class="show-for-large-up clearfix row desktop-nav">
            <div class="large-6 columns">
              <img class="avatar left" src="/images/avatar.png" alt="Avatar"/>
              <p class="about-me">I am Antonio and I do infrastructure at <a href="https://github.com">GitHub</a>. I build software for people who build software for people who build software.</p>
            </div>
            <ul class="inline-list right large-nav-links ">
              <li><a href="/">/</a></li>
              <li><a href="https://www.github.com/antonio"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.twitter.com/wottam"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/santosvelasco"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="/feed.xml"><i class="fa fa-rss"></i></a></li>
            </ul>
          </nav>
          <nav class="tab-bar hide-for-large-up">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" href="#"><span/></a>
            </section>
          </nav>

          <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><label>Antonio's Ramblings</label></li>
              <li><a href="/">Index</a></li>
              <li><label>Links</label></li>
              <li><a href="https://www.github.com/antonio">GitHub</a></li>
              <li><a href="https://www.twitter.com/wottam">Twitter</a></li>
              <li><a href="https://www.linkedin.com/in/santosvelasco">LinkedIn</a></li>
              <li><label>About me</label></li>
              <li><p class="off-canvas-p">I am Antonio and I do infrastructure at <a class="off-canvas-menu-inline-link" href="https://github.com">GitHub</a>. I build software for people who build software for people who build software</p></li>
            </ul>
          </aside>

          <img class="image-header "alt="Header" src="/images/header.jpg"/>
        </header>

        <div class="row">
          <%= yield %>
        </div>

        <a class="exit-off-canvas" href="#"></a>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
